@import './config';

html {
  background-color: color(base);
  text-align: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: $width;
  padding: auto $padding;
}
header {
  h2 {
    text-align: center;
    margin: $margin auto;

    @include mobile{
      font-size: 2rem;
    }
  }
}
.titlebar {
  background-color: color(normal);
  padding: $padding;
  margin: auto 8%;
  @include flex(row);

  @include mobile{
    @include flex(column);
    align-items: center;
    margin: $margin auto;
    padding: 0 8%;
    background-color: transparent;
  }
 select {
      margin: $margin;
      width: 250px;
      background-color: color(base);

      @include mobile{
        width: 100%;
        height: 30px;
        margin: $margin*.5 0;
        background-color: color(select_title_mobile);
      }
  }
}
.section {
 @include flex(row);
 justify-content: space-between;
  text-align: left;
  color: #fff;
  padding: 0 8%;
}
.col {
  width: 32% ;
  min-width: 300px;
  height: 250px;
  display: block;
  float: left;
  position: relative;
  margin: 1% $margin*2 1% 0;
  overflow: hidden;

  &:nth-child(3n+3){
    margin-right: 0;
  }

@include mobile{
  width: 100%;
}

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1,1);
    transition: all 1s ease-in-out;

    &:hover{
      transform: scale(1.05,1.05);
    }
  }
  .mask{
    background: rgba(0,0,0,.3);
    position: absolute;
    height: 99%;
    width: $width;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  .title{
    position: absolute;
    width: 60px;
    padding: $padding*.5;
    background-color: color(title);
    z-index: 99;
  }
  .info{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $padding*.5;

    &:hover{
      .contents{
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        bottom: 0;
        left: 0;
        opacity: 1;
      }
    }

    .contents{
      position: relative;
      display: none;
      bottom: 0;
      left: 0;
      opacity: 0;
      transform: translate(0%,0%);
      transition: all .1s ease-in-out 0s;
    }
  }
  
  .fadeIn{
    bottom: 0%;
  }
  @include mobile {
    margin: 3% 0;
  }
}

.showText{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

//loader
.loaderbody {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  background-color: rgba(128,128,128,0.2);
  z-index: 2147483647;

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 45%;
    left: 40%;
  }
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.hide {
  display: none;
}